name: Env Context demo 

on: 
  workflow_dispatch:

env: 
  WORKFLOW_LEVEL: "Workflow scope"

jobs: 
  show-env: 
    runs-on: ubuntu-latest
    env:
      JOB_LEVEL: "Job scope"
    steps: 
      - name: Step with its own env
        env: 
          STEP_LEVEL: "Step scope"
        run: |
          echo "Workflow level: $WORKFLOW_LEVEL"
          echo "Job level: $JOB_LEVEL"
          echo "Step level: $STEP_LEVEL"

      - name: try to access STEP_LEVEL1 in another step
        env: 
          STEP_LEVEL2: "Step scope vaiable 2"

        run: |
          if [ -z "$STEP_LEVEL" ]; then 
            echo "STEP_LEVEL1 is not available in this step - fallback message shown"
          else
          "STEP_LEVEL is : $STEP_LEVEL"
          fi

